{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    

    {{ form_start(registrationForm, {attr: {class: 'auth_form profile'} })}}
<h1>Регистрация</h1>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Зарегистрироваться</button>
    {{ form_end(registrationForm) }}
{% endblock %}
