{% extends 'base.html.twig' %}

{% block title %}Мои новости{% endblock %}

{% block body %}
    <h1>Мои новости</h1>

    <table class="table">
        <thead>
            <tr>
                <th>News_name</th>
                <th>News_text</th>
                <th>News_author</th>
                <th>News_date</th>
                <th>News_img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}

        {% if news.newsAuthor == user.name %}
            <tr>
                <td>{{ news.newsName }}</td>
                <td>{{ news.newsText }}</td>
                <td>{{ news.newsAuthor }}</td>
                <td>{{ news.newsDate ? news.newsDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ news.newsImg }}</td>
                <td>
                    <a href="{{ path('app_news_edit', {'id': news.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% endif %}
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_news_new') }}">Создать новую статью</a>
{% endblock %}
