{% extends 'base.html.twig' %}

{% block title %}{{ news.newsName }}{% endblock %}

{% block body %}

        <div class="news_page container">
            <div class="news_page_name" style="background: grey">{{ news.newsName }}</div>
            <div class="news_page_text">{{ news.newsText }}</div>
            <div class="news_page_footer">
                <div>Автор: {{ news.newsAuthor }}</div>
                <div>{{ news.newsDate ? news.newsDate|date('Y-m-d H:i:s') : '' }}</div>
            </div>

        </div>


              <form class="comments comment_form">

                  
                  <textarea class="text_comment" type="text" name="text"></textarea>
                  <input name="page" type="hidden" value={{ news.id }}>
                  <input name="name" type="hidden" value={{ news.newsAuthor }}>
                  <input name="name" type="hidden" value={{ news.newsAuthor }}>
                  <button class="comment_btn" type="submit">Оставить комментарий</button>
                  
                  <label for="" style="margin-top: 40px; font-size: 20px">Комментарии:</label>
                  
              </form>
                      


      <div class="list_comments">
      <div class="list_comments_wrapper">
      <div class="text_comment"><? echo $comments['text']?></div>
      <div class="wrapper_for_details">
          <div class="time_comment"><? echo $comments['time']?></div>
          <div class="author_comment">Автор: <? echo  $comments['author']?></div>
<!--                                <a class="comments_answer_btn" href="#">Ответить</a>-->
          <form>
              <input type="hidden" value="<?echo $comments['id']?>">
              <input type="submit" class="comments_answer_btn" value="Ответить">
          </form>

      </div>

      </div>
 

  <form class="comments_answer none_answer">
      <textarea name="comment_answer" cols="50" rows="2" class="for_answer"></textarea>
      <button class="comments_answer_btn" type="submit">Отправить</button>
  </form>
        

 
  
<a class="news_page_link" href="{{ path('app_news_index')}}">Вернуться к списку новостей...</a>
{% endblock %}
