{{ form_start(form) }}
    {{ form_widget(form.text) }}
    {{ form_widget(form.page, {attr: {value: '3'}}) }}
    {{ form_widget(form.author, {attr: {value: user.name}}) }}
    {{ form_widget(form.date) }}
    <button class="btn">{{ button_label|default('Оставить коменнтарий') }}</button>
{{ form_end(form) }}
