{{ form_start(form) }}
    {{ form_widget(form.name) }}
    {{ form_widget(form.text) }}
    {{ form_widget(form.page) }}
    {{ form_widget(form.author) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
